/*

#8B94A3 GRAY-BLUE
#04776C TEA GREEN
#0B3541 GUNMETAL
#0D3B66 DARK MIDNIGHT BLUE
#2FBF71 MEDIUM SEA GREEN

*/

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  font-family: 'Raleway';
  user-select: none;
}

h1, h2, h3 {
  font-family: 'Raleway';
  user-select: none;
  letter-spacing: 5px;
  text-align: center;
}



#sideNav {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100% - 70px);
  width: 0px;
  background-color: #04776C;
  margin-top: 70px;
  z-index: 2;
  transition: 0.3s;
}

#closeNav {
  font-size: 40px;
  margin-left: 20px;
  transition: 0.2s;
}

#closeNav:hover #closeNavInner {
  cursor: pointer;
  display: block;
  width: 50px;
  transform: scale(1.08);
  transition: 0.2s;
}

.navItem {
  height: 65px;
  letter-spacing: 2px;
  line-height: 65px;
  text-align: center;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.navItem:hover {
  background-color: white;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: black;
}


/*#container {
  width: 100%;
  height: 110%;
  overflow: hidden;
<<<<<<< HEAD
  display: none;
}*/

#map {
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}

#coords {
  background-color: black;
  color: white;
  padding: 5px;
}

/* #content {
  background-color: #04776C;
} */

/* The location pointed to by the popup tip. */
.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
    background-color: #04776C;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: #04776C;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}

ul {
    list-style-type: none;
    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2FBF71;
    float: left;
    text-align: center;
}

ul h1{
  color: white;
  font-size: 22px;
}

li a {
    display: block;
    color: #0B3541;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway';
    letter-spacing: 7px;
}

li a:hover {
    background-color: white;
    animation: pulse 1s infinite;
    cursor: pointer;
}

.active {
  background-color: white;
}
#rightBar {
  height: 100%;
  float: left;
  background-color: #04776C;
  width: 30%;
}


#rightBar h1, #midContainer h1 {
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

#midContainer h1 {
  height: 70px;
  line-height: 70px;
  background-color: #E7F1B8;
  color: #0B3541;
  margin-top: 0;
  letter-spacing: 10px;
}

#midContainer {
  float: right;
  width: 70%;
  height: 100%;
  background-color: #0B3541;
}

#overlayOpen {
  position: fixed;
  right: 20px;
  top: 20px;
  transition: 0.2s;
  cursor: pointer;
}

#overlayOpen img{
  height: 30px;
}

#overlayOpen:hover{
  transform: rotate(90deg);
  transition: 0.2s;
  cursor: pointer;
}
/*
#masonry {
  width: 99%;
  column-count: 3;
  column-gap: 0px;
  position: relative;
}*/

.imgContainer {
  width: 95%;
	display: inline-block;
  max-height: 20px;
	padding-left: 5px;
	margin: 1px 1px;
  position: relative;
	border-radius: 10px;
}

.centered {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway';
  color: white;
  font-size: 70px;
}

.imgContainer:hover .centered{
  display: none;
}
.plot {
  cursor: pointer;
  /* margin: auto; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  max-height: 200px;
  position: relative;
}

.plot:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.cardContainer {
    padding: 2px 16px;
    color: black;
}

.imgContainer:hover {
  animation: pulse infinite 1.5s;
}

#infoHeader {
  border-bottom: 1px solid black;
}

/* h4{
    background: #2FBF71;
    color: white;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    display:none;
    margin-bottom: 20px;
} */

h4:after{
    content:'';
    position:absolute;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}


/* .imgContainer:hover h4{
    display:block;
} */

#plotPopUp {
  width: 50%;
  height: 100%;
  position: absolute; /*it can be fixed too*/
  left:0; right:200px;
  top:0; bottom:0;
  margin: auto;
  display: none;
  background-color: RGBA(201,242,199, 0.95);
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  max-height: 100%;
  overflow-y: scroll;
}

#plotPopUp img {
  height: 80%;
}

/*styles for plot div*/
#plotWrap {
  height: calc(100% - 91px);
  overflow-y: auto;
}

#plotContainer {
  width: 96%;
  column-count: 3;
  column-gap: 20px;
  margin: 0 auto;
}

.plotItem {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: 0.2s;
  text-align: center;
  font-size: 30px;
  line-height: 200px;
  letter-spacing: 3px;
  cursor: pointer;
}

.plotItem:hover {
  background-size: 120% 120%;
  transition: 0.3s;
}

.plotText {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  color: white;
  letter-spacing: 10px;
}

.plotText:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  z-index: 0;
  display: block;
  transition: 0.3s;
}

.plotText:hover::after {
  opacity: 0.2;
  transition: 0.3s;
}


.plotText:hover {
  color: #262626;
  transition: 0.4s;
}

.plotTitle {
 line-height: 270px;
  position: relative;
  z-index: 1;
}



progress[value] {
  -webkit-appearance: none;
   appearance: none;

   background-color: #0B3541;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(top,
	                           rgba(82,189,122, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #0B3541, #E7F1B8);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progressBar {
  display: table;
  margin: 0 auto;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#creditsPopUp {
  width: 30%;
  height: 85%;
  position: absolute; /*it can be fixed too*/
  left:0;
  top:0; bottom:0;
  margin: auto;
  display: none;
  background-color: RGBA(201,242,199, 1);
  border:2px solid #ccc;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  max-height: 100%;
  overflow-y: scroll;
  z-index: 3;
  overflow-x: hidden;
}

#plotPopUp h1 {
  color: black;
  letter-spacing: 6px;
}

#plotPopUp h2,h3 {
  font-weight: lighter;
  text-align: center;
}

#infoContainer {
  height: 100%;
}

#infoImage {
  width: 100%;
}

.infoBox {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 46%;
  height: 100px;
  margin: auto;
  transition: 0.3s;
  margin-top: 2px;
}

a.boxClose{
  position: absolute;
  top: 0;
  right: 0;
    float:right;
    cursor:pointer;
    color: black;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 30px;
}

a.boxClose:hover {
  color: white;
}

.boxClose:before {
    content: "×";
}

.statBox {
  background-color: white;
  width: 45%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: auto;
  margin-top: 5px;
}

.statBox:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 3px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Raleway'
}

header img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 150px;
  border: 5px solid #fff;
}

aside {
  border-top: 0px solid #26A69A;
  border-bottom: 0px solid #00695C;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 200px;
  background-color: #0B3541;
  overflow: hidden;
  box-shadow: 0 0 100px 10px #fff;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-bottom: 10%;
}

aside:hover {
  border-top: 4px solid #26A69A;
  border-bottom: 4px solid #00695C;
  border-radius: 5px;
  height: 480px;
  width: 350px;
  box-shadow: 0 0 70px 10px #fff;
}

aside:hover header img {
  animation: profile_image 2000ms linear both;
  animation-delay: 0.5s;
}

header {
  text-align: center;
}

header h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

aside:hover header h1 {
  margin-top: 0px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}

header h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
  text-align: center;
}

.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  transition: all linear 1.5s;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 49%, rgba(0, 0, 0, 0.61) 100%);
}

aside:hover .profile-bio {
  opacity: 1;
}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}

/*PROFILE IMAGE ANIMATE */

@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/*NAME ANIMATE */

aside:hover header h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}

@keyframes name_and_job {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
  }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
  }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
  }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

aside:hover ul li:first-child {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 0.75s;
}

aside:hover ul li:nth-child(2) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1s;
}

aside:hover ul li:nth-child(3) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1.25s;
}

a.boxClose{
  position: absolute;
  top: 0;
  right: 0;
    float:right;
    cursor:pointer;
    color: black;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 30px;
}

a.boxClose:hover {
  color: white;
}

.boxClose:before {
    content: "×";
}

#statContainer {
  display: flex;
  flex-wrap: wrap;
}

.statBlock {
  width: 200px;
  margin: auto;
  height: 200px;
  background-color: white;
}

progress {
  display: table;
 margin: 0 auto;
}
