/*

#8B94A3 GRAY-BLUE
#C9F2C7 TEA GREEN
#2A324B GUNMETAL
#0D3B66 DARK MIDNIGHT BLUE
#2FBF71 MEDIUM SEA GREEN

*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
